**/bin
**/obj
**/node_modules
**/dist
**/wwwroot
**/logs
**/.git
**/.env*
**/appsettings.Local.json
**/appsettings.Development.json
**/*.pfx
**/*.pem
**/*.key
**/*.db
**/*.db-shm
**/*.db-wal
**/.vite
**/.idea
**/.vs
**/.DS_Store
**/__pycache__
